<!DOCTYPE html>
<html>
<head>
  <title>Devisedemo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">    
<div class="header" >
<%= render 'shared/header' %>
</div>
<br>
<br>
<div>
<%= yield %>
</div>
</div>
</body>
</html>
<style>
 .header{
	background-color :#6F5499;
}
 .header a {
 color :#fff;
}

.header a:hover{
 color :black;
}
</style>
